/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
}

.card {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007bff;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

/* Success page specific styles */
body.success {
    background-color: #414242;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Email sender page specific styles */
.card-email-sender {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-email-sender .card-body {
    text-align: center;
}

.card-email-sender .form-group {
    margin-bottom: 20px;
}

.card-email-sender label {
    font-weight: bold;
    display: block;
    text-align: left; 
}

.card-email-sender input[type="text"],
.card-email-sender textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-email-sender .btn-container {
    text-align: center;
}

.card-email-sender .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-email-sender .btn:hover {
    background-color: #0056b3;
}
